.history {
	border: solid 3px var(--background-border);

	&__transaction {
		padding: 16px var(--space-m);
	}

	&__show {
		margin-top: 0;
	}

	&__details {
		display: flex;
    flex: 1;
    align-items: center;
	}

	&__hide {
		display: none;
	}
}