.onoffswitch {
	display: flex;
	align-items: center;

	width: 97px;
	height: 32px;
	border: solid 2px var(--background-border);

	padding: 2px;

	&_checked {
		justify-content: flex-end;
	}

	&__button {
		width: 24px;
		height: 24px;
		background: var(--background-border);
	}
}