.icon-plus {
	display: flex;

	&_vertical-align {
		&_center {
			align-items: center;
		}
	}

	&__icon {
		&_indent-r {
			&_s {
				padding-right: var(--space-s);
			}

			&_m {
				padding-right: var(--space-m);
			}
		}

		&_indent-l {
			&_l {
				padding-left: var(--space-l);
			}
		}
	}
}