.grid {
	display: grid;

	&_m-columns {
		&_12 {
			grid-template-columns: repeat(12, 1fr);
		}

		&_10 {
			grid-template-columns: repeat(10, 1fr);
		}
	}

	&_col-gap {
		&_two-thirds {
			grid-column-gap: calc(var(--gap) * 2 / 3);
		}

		&_full {
			grid-column-gap: var(--gap);
		}

		&_half {
			grid-column-gap: calc(var(--gap) /2);
		}
	}

	&_row-gap {
		&_full {
			grid-row-gap: var(--gap);
		}

		&_half {
			grid-row-gap: calc(var(--gap) / 2);
		}
	}

	&__fraction {
		&_m-col {
			$sizes: 2, 3, 4, 5, 8;
			@each $size in $sizes {
				&_#{$size} {
					grid-column-start: span $size;
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		display: flex;
    flex-direction: column;
	}
}